
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
      <h1 class="display-1">Welcome to Cloud Management Tool</h1>
    </div>
</div><!-- /.jumbotron -->


<button type="button" class="btn btn-primary">
  <a href="{{ url_for('public.billing') }}" style="text-decoration: none; color: inherit;">
      AWS
  </a>
</button>

<button type="button" class="btn btn-secondary">Azure</button>
<button type="button" class="btn btn-success">GCP</button>

{% endblock %}